.back {
   position: fixed;
   top: 0;
   z-index: 10;

   width: 100%;            
   background-color: white;  

  padding: 10px 15px;       
   display: flex;
   align-items: center;
}


.pill-container{
    display: flex;
    height: 100vh;
    width: 100%;
    margin-top: 50px;
   // padding: 20px 60px 0 150px;
    //flex-direction: row;
    overflow-x: hidden;


     .pill-det {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding-left: 15px;

        .header{
            display: flex;
            flex-direction: row;
            //align-self: flex-start;
            //align-items: start;
            //flex: 1;
            width: 100%;
            //margin-left: 15px;
            //gap: 10px;
            align-items: center;

            .title {
                font-size: 25px;
                font-weight: 600;
                text-align: center;
                margin-top: 8px;
            }

            .pill-img {
                width: 50px;
                height: 50px;
                object-fit: contain;
                border-radius: 10px;
            }
        }




        .short {
            display: flex;
            flex-direction: row;
            //background: #EAF3FF;
            //padding: 7px 15px;
            border-radius: 20px;
            align-items: start;
            color: #000;
            font-size: 13px;
            font-weight: 500;
            
            margin: 4px 0;
            width: fit-content;
        }

        .more-details{
            margin-top: 10px;
            background: #2c2c2e;
            padding: 10px 0;
            text-align: center;
            border-radius: 16px;

            font-size: 15px;
            font-weight: 500;
            color: #d9d9d9;
        }

         .long {
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            padding: 20px;
            margin-top: 10px;
            font-size: 15px;
            line-height: 1.5;
            color: #000;
            border-bottom: none;
            flex: 1;
            box-shadow: 0 -1px 20px rgba(0, 0, 0, 0.12);


            h2{
                font-size: 25px;
                text-align: center;
            }

        }


     }



}