.main-container{
    background-color: #EAF3FF;
    min-height: 100vh; 
    //overflow-x: hidden;

    .top-content {
        display: flex;
        height: 151px;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding-left: 10rem;
        padding-right: calc(10rem - 90px);
        //margin: 5rem 0 0 9rem;
        // position: sticky;
        // top: 0;
        // z-index: 10;   // keeps it above charts / other content
        // background: inherit;

        .date-indicator {
            display: flex;
            width: auto;//33.3125rem;
            align-items: center;
            flex-shrink: 0;
            align-self: stretch;

            h1{
                font-weight: 600;
            }
        }
    }

    &.kid-mode {
        background-image: url('/assets/icons/background.png');
        background-size: cover;
        background-position: center;

        .top-content {
            h1 {
                color: #FF6FAE;
                font-size: 2.2rem;
            }

            .notification-hub{
                display: none;
            }

            .date-indicator {
                border-bottom-color: #FF6FAE;
                box-shadow: 0 0 0 0 #ff6fad9b;

                .pet-gif {
                    cursor: pointer;
                    margin-left: 25px;
                    margin-bottom: 40px;
                    width: 250px;
                    height: 250px;
                }
            }
        }
    }

    .bottom-content {
        display: flex;
        padding: 10px 15px;
        flex-direction: column;
        align-self: stretch;
        padding-left: 10rem;
        padding-right: calc(10rem - 90px);


        app-pill-card {
            display: flex;
            justify-content: center; 


            .pill-card {
                margin: 0 auto;       
            }
        }
    }
}