.main-container{
    background-color: #EAF3FF;
    min-height: 100vh; // takes full screen height
    //display: flex;
    //flex-direction: column;
    overflow-x: hidden;


    .top-content {
        display: flex;
        height: 151px;//8.75rem;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding-left: 10rem;
        padding-right: calc(10rem - 90px);
        //margin: 5rem 0 0 9rem;


        .date-indicator {
            display: flex;
            width: auto;//33.3125rem;
            //height: auto;
            align-items: center;
            flex-shrink: 0;
            align-self: stretch;
        }
        
    }

    .bottom-content {
        display: flex;
        padding: 10px 15px;
        flex-direction: column;
        gap: 20px;
        align-self: stretch;
        padding-left: 10rem;
        padding-right: calc(10rem - 90px);


        app-pill-card {
            display: flex;
            justify-content: center; 


            .pill-card {
                margin: 0 auto;       
            }
        }
    }
}