.notifications-container{
    width: 208px;
    height: 252px;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    background-color: #fff;
    
    scrollbar-width: none;
    -ms-overflow-style: none;
    
    &::-webkit-scrollbar {
        display: none;
    }

    .back {
        position: sticky;
        top: 0;
        z-index: 10;
        width: 100%;            
        background-color: white;  
        padding: 10px 15px;       
        display: flex;
        align-items: center;
        box-sizing: border-box;
        flex-shrink: 0;
    }

    .notif-header{
        padding: 0 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight: bold;
        color: #444; 

        h2{
            font-size: 1.3rem;
            padding-bottom: 5px;
            border-bottom: 1px solid #ddd;
            margin: 0 0 10px 0;
        }

        .notif-body{
            border-radius: 10px;
            display: flex;
            align-items: center;
            margin-bottom: 10px;

            .notif-content{
                font-size: 1rem;
                font-weight: lighter;
                flex: 1;

                .notif-title {
                    font-weight: 500;
                    margin-bottom: 3px;
                }

                .notif-message {
                    color: #555;
                    font-size: 0.9rem;
                }

                .notif-time {
                    font-size: 0.8rem;
                    color: #999;
                    margin-top: 4px;
                }
            }
        }
    }
}