.header-container {
    display: flex;
    height: 97px;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
    //background-color: #fff;
   // box-sizing: border-box;
}

.header-left {
    display: flex;
    width: 293px;
    padding: 10px 0;
    align-items: center;
    gap: 10px;

  .profile-img {
        width: 72px;
        height: 73px;
        flex-shrink: 0;
    // border-radius: 4.5625rem;
    // background: lightgray 50% / cover no-repeat;  
  }

  .greeting {
        color: #000;
        font-family: sans-serif;
        font-size: 36px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 0;
  }
}

.header-right {
    display: flex;
    height: 77px;
    padding: 10px 0;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;

  .notification-btn {
    width: 3rem;
    height: 3rem;
    aspect-ratio: 1 / 1;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: none;
    transition: transform 0.2s ease;


    .notification-icon {
      width: 2rem;
      height: 2rem;
      object-fit: contain;
    }

    &:hover {
       transform: scale(1.1);
    }
    
  }
}




@media (max-width: 600px) {

    .header-left {
      flex-direction: row;
      width: 100%;
      align-items: center;
      gap: 8px;

      .profile-img {
        width: 50px;
        height: 50px;
      }

      .greeting {
        font-size: 20px;
        text-align: center;
      }
    }

    .header-right {
    //   justify-content: center;
    //   height: auto;
    //   padding: 0;

      .notification-btn {
        width: 2.5rem;
        height: 2.5rem;

        .notification-icon {
          width: 1.5rem;
          height: 1.5rem;
        }
      }
    }
  }
