<div class="main-container" [ngClass]="{ 'kid-mode': isKid, 'grandma-mode': isElderly}">
    <div class="top-content">
        <div class="notification-hub">
            <app-notification-hub
                [type]="'monthEnd'"
                [data]="{ percentage: 80, change: 10 }">
            </app-notification-hub>
        </div>
        <br>

        <div class="date-indicator">
            <p>{{ today | date: 'EEEE MMM d' }}</p>
             <img 
                *ngIf="isKid"
                [src]="petSrc"
                class="pet-gif"
                (click)="petClicked()"
            />
        </div>
    </div>

    <div class="bottom-content">
        <app-pill-container></app-pill-container>
    </div>
</div>