.main-container {
    min-height: 100vh; 
    //overflow-x: hidden;
    background-color: #EAF3FF;
    margin-bottom: 40px;

    p { 
        margin: 0; 
        font-weight: 600;
        font-size: 1.7rem;
     }

    .top-content {
        padding: 1rem;
        position: sticky;
        top: 0;
        z-index: 10;  
        background: inherit;
        .date-indicator {
            border-bottom: 2px solid #E0E0E0;
            box-shadow: 0 3px 3px -2px rgba(0, 0, 0, 0.1);
        }
    }

    .bottom-content {
        padding: 1rem;
        app-pill-container{
            font-size: 1rem;
        }
    }


     
    &.kid-mode {
        background-image: url('/assets/icons/background.png');
        background-size: cover;
        background-position: center;
        
            
        p {
            color: #FF6FAE;
            font-size: 2rem;
            white-space: nowrap; 
            margin: 0;
        }

        .top-content {
            .notification-hub{
                display: none;
            }

            .date-indicator {
                display: flex;
                gap: 30px;
         
                border-bottom-color: #FF6FAE;
                box-shadow: 0 0 0 0 #ff6fad9b;

                .pet-gif {
                    cursor: pointer;
                    width: 150px;
                    height: auto;
                    margin-top: -75px;

                }

            }
        }

    }

    &.grandma-mode{
        p{
            font-size: 2.3rem;
            margin: 0;
            font-weight: 600;
        }

        .notification-hub{
            display: none;
        }

    //    .bottom-content {

    //         app-pill-container{
    //             font-size: 1.5rem;
    //         }
    //     }

        
    }

}


