.report-container {
    padding: 50px 0 0 100px;
    margin: 0 auto;
    height: 100vh;
    background-color: #EAF3FF;

    &.kid-mode {
        background-image: url('/assets/icons/background.png');
        background-size: cover;
        background-position: center;
        
        .tab-btn.active {
            background: #FF6FAE;
        }
        
        .send-btn {
            background: #FF6FAE;
        }
    }

    h2 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    }

    .description {
    font-size: 1.5rem;
    color: #555;
    margin-top: 0.5rem;
    }

    /* TABS */
    .tabs {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.5rem;
        
        .tab-btn {
            flex: 1;
            border: 0.5px solid #717171;
            padding: 0.75rem;
            background: #f2f2f2;
            font-size: 1rem;
            border-radius: 8px;
            margin: 0 0.3rem;
            cursor: pointer;
            
            
            h5{
                margin: 0;
                font-weight: 300;
            }
        }

        .tab-btn.active {
            background: #4a90e2;
            color: white;
            h5{
                font-weight: 600;
            }
        }
    }


    .tab-section {
        text-align: center;
        padding: 1rem;

        .chart-daily,
        .chart-weekly {
            width: 60%;
            max-width: 600px;
            height: 280px;
            margin: 0 auto 1.5rem auto;
        }
        
        .chart-monthly {
            width: 350px;
            height: 350px;
            margin: 0 auto 1.5rem auto;
        }

        canvas {
            width: 100% !important;
            height: 100% !important;
        }

    }

    /* Percentage circle */
    .percentage-circle {
        width: 140px;
        height: 140px;
        border-radius: 50%;
        margin: 1rem auto;
        background: #e5f2ff;
        border: 4px solid #4a90e2;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .percentage-circle span {
        font-size: 2rem;
        font-weight: bold;
        color: #4a90e2;
    }

    /* Send button */
    .send-btn {
        background: #4a90e2;
        color: white;
        border: none;
        outline: none;
        padding: 0.9rem 1.2rem;
        font-size: 1rem;
        border-radius: 8px;
        cursor: pointer;
        margin-top: 1.5rem;

        h5{
            margin: 0;
        }
    }
}
