.top-content {
    display: flex;
    height: 8.75rem;
    justify-content: space-between;
    align-items: center;
    margin-left: 9rem;

    .date-picker {
        display: flex;
        width: 33.3125rem;
        padding: 0 0.9375rem;
        align-items: center;
        flex-shrink: 0;
        align-self: stretch;
    }
}