.notification-hub {
    display: flex;
    width: 100%;
    height: auto;//7.125rem;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

@media (max-width: 768px) {
  .notification-hub {
    flex-direction: column;
    padding: 0 1rem;
  }
}