$item-height: 40px;
$picker-height: 120px;

.calendar-container {
    width: 100%;
    height: 100vh;
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    overflow: hidden;

    .back {
        position: absolute;   
        top:10px;
        left: 15px;        
        filter: invert(1);
        cursor: pointer;
        z-index: 10; 
        //padding: 10px 15px;
    }


    .content {
        width: 100%;
        height: auto;      
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px 0;
        
        
        .selection-overlay {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 80%;
            height: $item-height;
            border-top: 1px solid #444;
            border-bottom: 1px solid #444;
            pointer-events: none;
        }


        .spinner {
            height: $picker-height; 
            width: 30%;
            overflow-y: scroll;
            text-align: center;
            padding: calc((#{$picker-height} - #{$item-height}) / 2) 0;
            scrollbar-width: none;
            color: white;
        
           
            .spinner-item {
                height: $item-height;
                line-height: $item-height;
                font-size: 0.9rem;
                opacity: 0.3;
                transition: opacity 0.3s, font-size 0.3s;


                &.selected {
                    opacity: 1;
                    font-size: 1.3rem;
                    color: white; 
                }
            }
        }
    }


    .ok{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        .okBtn {
            width: 80%;
            background-color: rgb(255, 255, 255);
            border: 1px solid gray ;
            border-radius: 7px;
            margin-bottom: 20px;
            padding: 5px;
            font-size: 1.3rem;
            outline: none;
        }
    }
}







