.schedule-container{
    display: flex;
    width: 208px;
    height: 252px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    .back {
        position: fixed;
        top: 0;
        z-index: 10;

        width: 100%;            
        background-color: white;  

        padding: 10px 15px;       
        display: flex;
        align-items: center;
    }

    .date-indicator{
        padding-top: 50px;  
        margin: 10px;

        p{
            font-size: 20px;
        }
    }

}


