.month-card {
  border: 2px solid #4caf50;
  border-radius: 1rem;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 450px;
  background: white;
  height:131px;

  .circle {
    border: 7px solid #4caf50;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    color: #2e7d32;
    aspect-ratio: 1/1;
  }
}