.month-card {
  border: 2px solid #4caf50;
  border-radius: 1rem;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  background: white;

  .circle {
    border: 4px solid #4caf50;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #2e7d32;
  }
}