.pill-container {
    display: flex;
    height: 100vh;
    width: 100%;
    padding: 20px 60px 0 150px;
    flex-direction: column;


    .back {
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;
        flex-direction: row;
        cursor: pointer;
        position: fixed;
        


        h3{
            margin: 0;
        } 
    }


    .pill-det {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 18px;
        flex: 1;

        .title {
            font-weight: 600;
            text-align: center;
        }

        .img {
            width: 200px;
            height: 200px;
            object-fit: contain;
            border-radius: 10px;
            background: #e7e7e7; 
        }


        .short {
            display: flex;
            flex-direction: column;
            background: #EAF3FF;
            padding: 7px 15px;
            border-radius: 20px;
            
            color: #000;
            font-size: 20px;
            font-weight: 500;
            
            margin: 4px 0;
            width: fit-content;
        }

        .long {
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            padding: 20px;
            margin-top: 10px;
            font-size: 30px;
            line-height: 1.5;
            color: #000;
            border-bottom: none;
            flex: 1;
            box-shadow: 0 -1px 20px rgba(0, 0, 0, 0.12);


            h2{
                text-align: center;
            }

        }
    } 
}