.settings-container {
    padding: 70px;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;   
    align-items: center;  
    background-color: #EAF3FF;     
    font-family: Arial, sans-serif;

    &.kid-mode {
            background-image: url('/assets/icons/background.png');
            background-size: cover;
            background-position: center;
        }

    .settings-section {
        width: 50vw;
        background: #fff;
        padding: 1.5rem;
        margin-bottom: 2rem;
        border-radius: 10px;
        box-shadow: 0 2px 8px rgba(0,0,0,0.1);

        h2 {
          margin-bottom: 1rem;
          color: #333;
          //font-size: 1.3rem;
        }

        .user-info {
          display: flex;
          align-items: center;
          margin-bottom: 1.5rem;

          .avatar {
            width: 90px;
            height: 90px;
            border-radius: 50%;
            margin-right: 1rem;
          }

          .info-text .label {
            //font-size: 0.9rem;
            color: #666;
          }
          
          .info-text .value {
            //font-size: 1.1rem;
            color: #222;
            font-weight: bold;
          }

        }
        .info-row {
          display: flex;
          justify-content: space-between;
          padding: 0.8rem 0;
          border-bottom: 1px solid #eee;
        }
        
        .info-row:last-child {
          border-bottom: none;
        }
        
        .btn {
          padding: 0.8rem 1.2rem;
          margin-top: 1rem;
          background: #1976d2;
          color: white;
          border: none;
          border-radius: 8px;
          font-size: 1rem;
          cursor: pointer;
          width: 100%;
          transition: background 0.2s ease;
        }
        
        .btn:active {
          background: #125ea8;
        }
        
        .btn.danger {
          background: #d32f2f;
        }
        
        .btn.danger:active {
          background: #b02626;
        }
    }
}





