

.settings-container {
    padding-top: 50px;  
    //padding: 2rem;
    max-width: 320px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    
    .back {
            position: fixed;
            top: 0;
            z-index: 10;
    
            width: 100%;            
            background-color: white;  
    
            padding: 10px 15px;       
            display: flex;
            align-items: center;
        }

    .settings-section {
        background: #fff;
        padding: 1.5rem;
        margin-bottom: 2rem;
        border-radius: 10px;
        box-shadow: 0 2px 8px rgba(0,0,0,0.1);

        h2{
            font-size: 20px;
        }

        .user-info {
            display: flex;
            align-items: center;
            margin-bottom: 1rem;
            gap: 20px;

            .avatar{
                width: 40px;
            }

            .info-text p{
                font-size: 15px;
                margin: 0;
                font-weight: 600;
            }
        }

        .info-row {
            display: flex;
            justify-content: space-between;
            padding: 0.8rem 0;
            border-bottom: 1px solid #eee;
        }

        

        .btn {
            //margin-top: 1rem;
            background: #1976d2;
            color: white;
            border: none;
            border-radius: 8px;
            font-size: 1rem;
            cursor: pointer;
            width: 100%;
        }

        .btn.danger {
            background: #d32f2f;
        }

    }
}