.settings-container {
  padding: 1rem;
  width: 100%;
  min-height: 100vh;
  background: #F7FAFE;
  box-sizing: border-box;
  font-family: Arial, sans-serif;

   &.kid-mode {
        background-image: url('/assets/icons/background.png');
        background-size: cover;
        background-position: center;
    }

}

/* SETTINGS CARD */
.settings-section {
  background: #fff;
  padding: 1.25rem;
  margin-bottom: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.08);
}

/* HEADINGS */
h2 {
  margin-bottom: 1rem;
  color: #333;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: left;
}

/* USER INFO BLOCK */
.user-info {
  display: flex;
  align-items: center;
  margin-bottom: 1.25rem;
  gap: 0.8rem;
}

/* AVATAR */
.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

/* LABEL + VALUES */
.info-text .label {
  font-size: 0.85rem;
  color: #777;
  margin-bottom: 0.2rem;
}

.info-text .value {
  font-size: 1rem;
  color: #222;
  font-weight: 600;
}

/* GENERAL SETTINGS ROWS */
.info-row {
  display: flex;
  justify-content: space-between;
  padding: 0.7rem 0;
  border-bottom: 1px solid #eee;
}

.info-row:last-child {
  border-bottom: none;
}

.info-row .label {
  font-size: 0.9rem;
  color: #666;
}

.info-row .value {
  font-size: 0.95rem;
  color: #222;
  font-weight: 500;
}

/* BUTTONS */
.btn {
  padding: 0.9rem;
  margin-top: 1rem;
  background: #1976d2;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  transition: background 0.2s;
}

.btn:hover {
  background: #125ea8;
}

.btn.danger {
  background: #d32f2f;
}

.btn.danger:hover {
  background: #b02626;
}