.postpone-container{
    display: flex;
    width: 208px;
    height: 252px;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: #1E1E1E;

    .postpone-message{  
        display: flex;
        padding: 0 10px;
        align-items: center;
        flex-direction: column;


        .postpone{
            font-size: 20px;
            color: white;
            margin: 0;
        }

        .medication{
            font-size: 25px;
            color: white;
            margin: 0;
        }

        .for{
            font-size: 20px;
            color: white;
            margin-top: 15px;
            margin-bottom: 0;
        }
    }

    .confirm-btn{
        display: flex;
        width: 100%;
        height: auto;
        padding: 9px 12px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-shrink: 0;
        border-radius: 6px;
        background: #2BC94B;

        p{
            color: white;
            margin: 0;
            font-size: 20px;
        }
    }

    .postpone-msg{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        p{
            font-size: 17px;
            color: white;
            margin: 0;
        }
    }


}