.home-container{
    display: flex;
    width: 208px;
    height: 252px;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgb(0, 0, 0);
    padding: 20px 0 0 0;
    gap: 10px;

    img {
        width: 50px;   
        height: 50px;
    }

    .top-content, .bottom-content{
        display: flex;
        height: 106px;
        padding: 0 10px 0 10px;
        align-items: flex-start;
        gap: 10px;
        flex-shrink: 0;
        align-self: stretch;

        .schedule, .report, .notification, .setting{
            display: flex;
            padding: 10px;
            flex-direction: column;
            justify-content: center;
            align-items: center; 
            gap: 10px;
            flex: 1 0 0;
            align-self: stretch;
            //border: 1px solid #ffffff;
            background-color: rgb(99, 99, 99);
            border-radius: 10px;

        }

        
    }

}









    // .bottom-content{
    //     display: flex;
    //     width: 208px;
    //     height: 126px;
    //             padding: 20px 10px 0 10px;

    //    //padding: 5px 10px 20px 10px;
    //     align-items: flex-start;
    //     gap: 10px;
    //     flex-shrink: 0;

    //     .notification, .setting{
    //         display: flex;
    //         padding: 10px;
    //         flex-direction: column;
    //         justify-content: center;
    //         align-items: center; 
    //         gap: 10px;
    //         flex: 1 0 0;
    //         align-self: stretch;
    //         border: 1px solid #000;
    //         border-radius: 10px;

    //     }


        
    


