<div class="home-container">
    <div class="top-content">

        <div class="schedule" (click)="navigateTo('schedule')">
            <img src="assets/icons/pill-white.svg"/>
        </div>

        <div class="report" (click)="navigateTo('report')">
            <img src="assets/icons/report-white.svg"/>
        </div>

    </div>

    <div class="bottom-content">

        <div class="notification" (click)="navigateTo('notifications')">
            <img src="assets/icons/notifications-white.svg"/>
        </div>

        <div class="setting" (click)="navigateTo('settings')">
            <img src="assets/icons/profile-white.svg"/>
        </div>

    </div>
</div>