<div class="navbar-container">
    <div class="navbar_contents">
        <div>
            <img [src]="profileImage" alt="User profile" class="profile-img" />
        </div>
        <div class="navbar-btn">
            <img src="assets/icons/home-white.svg" alt="Home" class="navbar_img" />
            <img src="assets/icons/calendar.svg" alt="Calendar" class="navbar_img" />
            <img src="assets/icons/report.svg" alt="Report" class="navbar_img" />
            <img src="assets/icons/notifications.svg " alt="Notifications" class="navbar_img"/>
        </div>
    </div>
</div>
