.navbar-container {
    border-right: 0.5px solid rgba(181, 181, 181, 0.439);
    position: fixed;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 30px -10px rgba(0, 0, 0, 0.2);
    background-color: #6685d3d2;
    overflow-y: hidden ;

    .navbar_contents {
        display: flex;
        padding: 20px;
        padding-top: 10px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 70px;
        align-self: stretch;
        
          .navbar_img {
              width: 50px;
              height: 50px;
              cursor: pointer;
              transition: transform 0.2s ease;
  
              &:hover {
                  transform: scale(1.1);
              }
          }
        
        .profile-img {
            width: 50px;
            height: 50px;
            flex-shrink: 0;
        }

    }
}



@media (max-width: 600px) {
  .navbar-container {
    //border-top: 2px solid black;
    border-top: 0.5px solid rgba(181, 181, 181, 0.439);
    box-shadow: 0 2px 30px -10px rgba(0, 0, 0, 0.2);
    border-right: none;
    height: 70px;
    width: 100vw;
    bottom: 0;
    top: auto;
    //flex-direction: row;
    //justify-content: center;
    align-items: center;

    

    .navbar_contents {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      gap: 10px;
      width: 100%;
      padding: 0;


      .navbar_img {
        width: 30px;
        height: 30px;
        cursor: pointer;
        transition: transform 0.2s ease;

        &:hover {
            transform: scale(1.1);
        }
      }
    }
  }
}