<div class="pill-card">
    <div class="left-content">
        <div>
            <img [src]="pillIcon" class="pill-img"/>
        </div>
        <div class="description">
            <h2>{{ pillName }}</h2>

            <p *ngIf="!lowPillWarning">{{ dosage }}</p>

            <p *ngIf="lowPillWarning" class="low-warning">
                <span class="triangle">▲</span>
                {{ lowPillWarning }}
            </p>
        </div>
    </div>

    <div class="right-content">
        <div class="label" [ngClass]="status">
            <p>{{ status }}</p>
        </div>
        <div class="rest">
            <p>{{ daysLeft }} days left</p>
        </div>
    </div>
</div>