<div class="pill-card">
    <div class="left-content">
        <div>
            <img [src]="pillIcon" class="pill-img"/>
        </div>
        <div class="description">
            <h2>{{ pillName }}</h2>

            <p>{{ dosage }}</p>

            <div *ngIf="lowPillWarning" class="low-warning">
                <!-- <span class="triangle"><img class="low-icon" src="assets/icons/low-icon.svg"/></span> -->
                <div class="triangle">
                    <svg viewBox="0 0 30 30" style="width: 100%; height:100%;"><polygon points="0,7.5 15,30 30,7.5" style="fill:rgb(255, 0, 0);"></polygon></svg>
                </div>

                {{ lowPillWarning }}
            </div>
        </div>
    </div>

    <div class="right-content">
        <div class="label" [ngClass]="status">
            <p>{{ status }}</p>
        </div>
        <div class="rest">
            <p>{{ daysLeft }} days left</p>
        </div>
    </div>
</div>