<div class="pill-card">
    <div class="left-content">
        <div>
            <img src="assets/icons/pill.svg" class="pill-img"/>
        </div>
        <div class="description">
            <div>
                <h2>Aspirin</h2>
            </div>
            <div>
                <h4>Take 1 after meal</h4>
            </div>
        </div>
    </div>

    <div class="right-content">
        <div class="label"> 
            <p>Upcoming</p>
        </div>
        <div class="rest">
            <p>7 days left</p>
        </div>
    </div>
</div>