.calendar-layout {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  padding-left: 100px;
  background-color: #EAF3FF;
  height: 100vh;
  width: 100vw;

  .left-pane {
    flex: 1 1 60%;
    min-width: 320px;

    .calendar-header {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      margin: 1rem 0 1rem 0;

      .month-title{
        width: 400px;
        display: flex;
        justify-content:center; 
        align-items: center;
      }

      button {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background: #6684D3;
        color: white;
        border: none;
        padding-bottom: 0.3rem;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        font-size: 1.5rem;
        line-height: 1;
        cursor: pointer;
        transition: background 0.2s ease;
        outline: none;

        
        &:hover {
          background: #005bbb;
        }
      }
    }
  }

  .right-pane {
    position: sticky;
    align-self: flex-start;
    
    flex: 0 0 40%;
    background: #fff;
    border-radius: 8px;
    padding: 0 1rem 1rem 1rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.08);
    
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    
    height: 100% !important;
    max-height: none !important;
    min-height: 0;
    width: 100%;

    .card-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background-color: white ;
      padding: 0.5rem;

      position: sticky;
      top: 0;
      z-index: 20;

      h3{
        margin: 0;
      }
      
      button {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background: #6684D3;
        color: white;
        border: none;
        padding-bottom: 0.3rem;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        font-size: 2rem;
        cursor: pointer;
        transition: background 0.2s ease;
        outline: none;
        
        &:hover {
          background: #005bbb;
        }
      }
        
    }



    .no-pills {
      color: #777;
      padding: 0.75rem 0;
    }

    .pill-section {
      margin-bottom: 1rem;

      h4 {
        margin-bottom: 0.3rem;
      }

      .pill-list {
        list-style: none;
        padding: 0;
        margin: 0.5rem 0 0 0;

        .pill-item {
          display: flex;
          justify-content: space-between;
          padding: 0.5rem;
          border-radius: 6px;
          background: #f7fbff;
          margin-bottom: 0.5rem;

          .pill-name {
            font-weight: 600;
          }

          .pill-dosage {
            color: #666;
            font-size: 0.95rem;
          }
        }
      }
    }
  }
}
