<div class="calendar-mobile" [ngClass]="{ 'kid-mode': isKid, 'grandma-mode': isElderly}">

    <div class="calendar-header">
          <button (click)="previousMonth()"><</button>
          <div class="month-title">
              <p>{{ viewDate | date: 'MMMM yyyy' }}</p>
          </div>
          <button (click)="nextMonth()">></button>
    </div>

    <mwl-calendar-month-view
        [viewDate]="viewDate"
        (dayClicked)="onDayClick($event.day.date)">
    </mwl-calendar-month-view>

    <div class="pills-panel">

        <div class="pills-header">
            <p>Pills for {{ viewDate | date: 'EEEE d' }}</p>
            <button class="add-btn">+</button>
        </div>
        <div *ngIf="groupedPills.length === 0" class="no-pills">
            <br>
            No pills scheduled for this date.
        </div>

        <div *ngFor="let group of groupedPills" class="pill-section">
            <h5>{{ group.time }}</h5>
            <ul class="pill-list">
                <li *ngFor="let pill of group.pills" class="pill-item">
                    <div class="pill-name">{{ pill.name }}</div>
                    <div class="pill-dosage">{{ pill.dosage }}</div>
                </li>
            </ul>
        </div>
    </div>
</div>