.notifications-container {
    padding: 20px 0 0  60px;//150px;
    margin-left: 90px;
    background-color: #F7FAFE;
    height: 100vh;
    width: 100vw;

   .notif-header{
        margin-top: 20px;
        margin-bottom: 10px;
        font-weight: bold;
        color: #444; 

        h2{
            font-size: 2.5rem;
            padding-bottom: 5px;
            border-bottom: 1px solid #080808;
        }

        
        .notif-body{
            border-radius: 10px;
            background: #ffffff;
            display: flex;
            align-items: center;
            padding: 12px 0 12px 20px;
            margin-bottom: 10px;
            width: calc(100% - 150px);
            position: relative;

            .delete-btn {
                position: absolute;
                top: 8px;
                right: 8px;

                width: 26px;
                height: 26px;

                border: none;
                border-radius: 50%;

                background: rgba(0,0,0,0.08);
                color: #333;
                font-size: 1rem;
                cursor: pointer;

                display: flex;
                align-items: center;
                justify-content: center;

                z-index: 2;
                transition: 0.15s ease;

                &:hover {
                  background: rgba(0,0,0,0.15);
                }
            
                &:active {
                  transform: scale(0.9);
                }
            }
        
            //border-bottom: 2px solid #2E5CFF;

            .notif-content{
                font-size: 1.7rem;
                font-weight: lighter;
                flex: 1;

                .notif-title {
                    font-weight: 500;
                    margin-bottom: 3px;
                    margin-left: 10px;
                }

                .notif-message {
                    color: #555;
                    font-size:1.6rem;
                       margin-left: 10px;
                }

                .notif-time {
                    font-size: 1.3rem;
                    color: #999;
                    margin-top: 4px;
                    margin-left: 10px;
                }
            
        }
   }
 
}
}

