<div class="pill-container">
    <div *ngFor="let group of pillGroups" class="time-group">
        <div class="schedule-time">
            <h2>{{ group.time }}</h2>
        </div>
        
        <ng-container *ngFor="let pill of group.pills; let i = index">
            <app-pill-card
                [pillName]="pill.name"
                [dosage]="pill.dosage"
                [pillIcon]="'assets/icons/pill.svg'"
                [status]="'Upcoming'"
                [daysLeft]="getDaysLeft(pill)"
                [lowPillWarning]="isLowStock(pill)"
            ></app-pill-card>
            <br *ngIf="i < group.pills.length - 1" />
        </ng-container>
    </div>

    <div *ngIf="pillGroups.length === 0" class="no-pills">
        <p>No pills scheduled for today.</p>
    </div>
</div>