.pill-container {
    .time-group {
        margin-bottom: 2rem;
    }

    .schedule-time {
        display: flex;
        align-items: flex-start;
        gap: 10px;
        align-self: stretch;
        width: 100%;
        margin-bottom: 10px;
    }

    .no-pills {
        text-align: center;
        padding: 2rem;
        color: #999;
        font-size: 1.1rem;
    }
}