.schedule-time{
    display: flex;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    width: 100%;
    margin-bottom: 10px;
    //flex: 1;
    //border: 2px solid black;
}



@media (max-width: 280px){
    .schedule-time h2{
        font-size: 20px;
    }
}
